body {
    background-image: url("https://i.imgur.com/PMJfhQT.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.button {
    background-color: magenta;
    border-radius: 20px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
  }
  
.center {
    align-items: center;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 